# Breast Cancer Analytics

Use the "Run" button to execute the code.

In [3]:
!pip install jovian --upgrade --quiet

In [4]:
import jovian

In [5]:
pip install opendatasets --upgrade

Collecting opendatasets
  Downloading opendatasets-0.1.20-py3-none-any.whl (14 kB)
Requirement already satisfied: tqdm in /opt/conda/lib/python3.9/site-packages (from opendatasets) (4.62.3)
Requirement already satisfied: click in /opt/conda/lib/python3.9/site-packages (from opendatasets) (8.0.1)
Collecting kaggle
  Downloading kaggle-1.5.12.tar.gz (58 kB)
     |████████████████████████████████| 58 kB 4.1 MB/s eta 0:00:011
Requirement already satisfied: six>=1.10 in /opt/conda/lib/python3.9/site-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: certifi in /opt/conda/lib/python3.9/site-packages (from kaggle->opendatasets) (2021.5.30)
Requirement already satisfied: python-dateutil in /opt/conda/lib/python3.9/site-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: requests in /opt/conda/lib/python3.9/site-packages (from kaggle->opendatasets) (2.26.0)
Collecting python-slugify
  Downloading python_slugify-5.0.2-py2.py3-none-any.whl (6.7 kB)
Requirement already satisfied: urllib3 in /opt/conda/lib/python3.9/site-packages (from kaggle->opendatasets) (1.26.7)
Collecting text-unidecode>=1.3
  Downloading text_unidecode-1.3-py2.py3-none-any.whl (78 kB)
     |████████████████████████████████| 78 kB 8.4 MB/s  eta 0:00:01
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.9/site-packages (from requests->kaggle->opendatasets) (3.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/conda/lib/python3.9/site-packages (from requests->kaggle->opendatasets) (2.0.0)
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py) ... done
  Created wheel for kaggle: filename=kaggle-1.5.12-py3-none-any.whl size=73051 sha256=d4bd86efc11428b6569cfc42c6946330423aa71b67dc33a7820c3fefe60df733
  Stored in directory: /home/jovyan/.cache/pip/wheels/ac/b2/c3/fa4706d469b5879105991d1c8be9a3c2ef329ba9fe2ce5085e
Successfully built kaggle
Installing collected packages: text-unidecode, python-slugify, kaggle, opendatasets
Successfully installed kaggle-1.5.12 opendatasets-0.1.20 python-slugify-5.0.2 text-unidecode-1.3
Note: you may need to restart the kernel to use updated packages.

In [6]:
import opendatasets as od

In [8]:
dataset_url='https://www.kaggle.com/amandam1/breastcancerdataset'
od.download('https://www.kaggle.com/amandam1/breastcancerdataset')

Skipping, found downloaded files in "./breastcancerdataset" (use force=True to force download)

In [9]:
import pandas as pd

In [10]:
# Execute this to save new versions of the notebook
jovian.commit(project="course-project")

[jovian] Updating notebook "malkaamedia/course-project" on https://jovian.ai
[jovian] Committed successfully! https://jovian.ai/malkaamedia/course-project

'https://jovian.ai/malkaamedia/course-project'

In [11]:
dataset_url

'https://www.kaggle.com/amandam1/breastcancerdataset'

In [12]:
import os

In [13]:
os.listdir('breastcancerdataset')

['BRCA.csv']

In [14]:
#load dataset using pandas

In [15]:
cancer_df=pd.read_csv('./breastcancerdataset/BRCA.csv')

In [16]:
cancer_df

,Patient_ID,Age,Gender,Protein1,Protein2,Protein3,Protein4,Tumour_Stage,Histology,ER status,PR status,HER2 status,Surgery_type,Date_of_Surgery,Date_of_Last_Visit,Patient_Status
0,TCGA-D8-A1XD,36.0,FEMALE,0.080353,0.42638,0.54715,0.273680,III,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Modified Radical Mastectomy,15-Jan-17,19-Jun-17,Alive
1,TCGA-EW-A1OX,43.0,FEMALE,-0.420320,0.57807,0.61447,-0.031505,II,Mucinous Carcinoma,Positive,Positive,Negative,Lumpectomy,26-Apr-17,09-Nov-18,Dead
2,TCGA-A8-A079,69.0,FEMALE,0.213980,1.31140,-0.32747,-0.234260,III,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Other,08-Sep-17,09-Jun-18,Alive
3,TCGA-D8-A1XR,56.0,FEMALE,0.345090,-0.21147,-0.19304,0.124270,II,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Modified Radical Mastectomy,25-Jan-17,12-Jul-17,Alive
4,TCGA-BH-A0BF,56.0,FEMALE,0.221550,1.90680,0.52045,-0.311990,II,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Other,06-May-17,27-Jun-19,Dead
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
339,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
340,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
cancer_df.shape

(341, 16)

In [18]:
jovian.commit(project='step1')

[jovian] Updating notebook "malkaamedia/step1" on https://jovian.ai
[jovian] Committed successfully! https://jovian.ai/malkaamedia/step1

'https://jovian.ai/malkaamedia/step1'

In [19]:
cancer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 341 entries, 0 to 340
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Patient_ID          334 non-null    object
 1   Age                 334 non-null    float64
 2   Gender              334 non-null    object
 3   Protein1            334 non-null    float64
 4   Protein2            334 non-null    float64
 5   Protein3            334 non-null    float64
 6   Protein4            334 non-null    float64
 7   Tumour_Stage        334 non-null    object
 8   Histology           334 non-null    object
 9   ER status           334 non-null    object
 10  PR status           334 non-null    object
 11  HER2 status         334 non-null    object
 12  Surgery_type        334 non-null    object
 13  Date_of_Surgery     334 non-null    object
 14  Date_of_Last_Visit  317 non-null    object
 15  Patient_Status      321 non-null    object
dtypes: float64(5), object(11)
memory usage: 42.8+ KB

In [20]:
cancer_df.describe()

              Age    Protein1    Protein2    Protein3    Protein4
count  334.000000  334.000000  334.000000  334.000000  334.000000
mean    58.886228   -0.029991    0.946896   -0.090204    0.009819
std     12.961212    0.563588    0.911637    0.585175    0.629055
min     29.000000   -2.340900   -0.978730   -1.627400   -2.025500
25%     49.000000   -0.358888    0.362173   -0.513748   -0.377090
50%     58.000000    0.006129    0.992805   -0.173180    0.041768
75%     68.000000    0.343598    1.627900    0.278353    0.425630
max     90.000000    1.593600    3.402200    2.193400    1.629900

In [21]:
cancer_df.columns

Index(['Patient_ID', 'Age', 'Gender', 'Protein1', 'Protein2', 'Protein3',
       'Protein4', 'Tumour_Stage', 'Histology', 'ER status', 'PR status',
       'HER2 status', 'Surgery_type', 'Date_of_Surgery', 'Date_of_Last_Visit',
       'Patient_Status'],
      dtype='object')

In [22]:
#retrieve
cancer_df['Age']

0      36.0
1      43.0
2      69.0
3      56.0
4      56.0
       ...
336     NaN
337     NaN
338     NaN
339     NaN
340     NaN
Name: Age, Length: 341, dtype: float64

In [23]:
#number of rows
cancer_df.shape[0]

341

In [24]:
#number of columns
cancer_df.shape[1]

16

In [25]:
cancer_df

,Patient_ID,Age,Gender,Protein1,Protein2,Protein3,Protein4,Tumour_Stage,Histology,ER status,PR status,HER2 status,Surgery_type,Date_of_Surgery,Date_of_Last_Visit,Patient_Status
0,TCGA-D8-A1XD,36.0,FEMALE,0.080353,0.42638,0.54715,0.273680,III,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Modified Radical Mastectomy,15-Jan-17,19-Jun-17,Alive
1,TCGA-EW-A1OX,43.0,FEMALE,-0.420320,0.57807,0.61447,-0.031505,II,Mucinous Carcinoma,Positive,Positive,Negative,Lumpectomy,26-Apr-17,09-Nov-18,Dead
2,TCGA-A8-A079,69.0,FEMALE,0.213980,1.31140,-0.32747,-0.234260,III,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Other,08-Sep-17,09-Jun-18,Alive
3,TCGA-D8-A1XR,56.0,FEMALE,0.345090,-0.21147,-0.19304,0.124270,II,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Modified Radical Mastectomy,25-Jan-17,12-Jul-17,Alive
4,TCGA-BH-A0BF,56.0,FEMALE,0.221550,1.90680,0.52045,-0.311990,II,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Other,06-May-17,27-Jun-19,Dead
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
339,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
340,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
#list missing values
null_df=pd.isnull(cancer_df)

In [27]:
cancer_df['Patient_ID'].isnull().values.any()

True

In [28]:
cancer_df['Patient_ID'].isnull().sum()

7

In [29]:
cancer_df.isnull().values.any()

True

In [30]:
cancer_df.isnull().sum()

Patient_ID             7
Age                    7
Gender                 7
Protein1               7
Protein2               7
Protein3               7
Protein4               7
Tumour_Stage           7
Histology              7
ER status              7
PR status              7
HER2 status            7
Surgery_type           7
Date_of_Surgery        7
Date_of_Last_Visit    24
Patient_Status        20
dtype: int64

In [31]:
cancer_df.shape[1]

16

In [32]:
is_Nan=cancer_df.isnull()

In [33]:
row_has_Nan=is_Nan.any(axis=1)

In [34]:
rows_with_Nan=cancer_df[row_has_Nan]

In [35]:
rows_with_Nan

,Patient_ID,Age,Gender,Protein1,Protein2,Protein3,Protein4,Tumour_Stage,Histology,ER status,PR status,HER2 status,Surgery_type,Date_of_Surgery,Date_of_Last_Visit,Patient_Status
7,TCGA-A7-A426,50.0,FEMALE,0.672490,1.27900,-0.321070,-0.112390,III,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Simple Mastectomy,16-May-17,NaN,NaN
22,TCGA-AN-A0FY,55.0,FEMALE,0.330640,0.84757,-0.494660,0.116560,I,Infiltrating Lobular Carcinoma,Positive,Positive,Negative,Modified Radical Mastectomy,07-Nov-17,NaN,NaN
99,TCGA-A8-A06O,60.0,FEMALE,0.532420,1.54110,-1.009500,-0.125880,I,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Other,11-Dec-17,NaN,NaN
111,TCGA-MS-A51U,44.0,FEMALE,-0.278840,2.16880,-0.462330,0.272200,II,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Modified Radical Mastectomy,20-Jan-18,NaN,NaN
170,TCGA-AR-A0U2,47.0,FEMALE,0.515580,2.65020,-0.103130,-0.045725,III,Infiltrating Lobular Carcinoma,Positive,Positive,Negative,Modified Radical Mastectomy,29-Jul-18,NaN,Dead
182,TCGA-C8-A1HI,40.0,FEMALE,-1.455300,-0.74177,1.133600,-0.839700,III,Infiltrating Lobular Carcinoma,Positive,Positive,Negative,Other,07-Sep-18,NaN,NaN
189,TCGA-AO-A03O,69.0,FEMALE,-0.757790,-0.33780,0.561410,0.208300,II,Infiltrating Lobular Carcinoma,Positive,Positive,Negative,Modified Radical Mastectomy,07-Oct-18,NaN,Dead
196,TCGA-C8-A12U,46.0,FEMALE,-0.010999,0.86749,0.281570,-0.545880,II,Infiltrating Lobular Carcinoma,Positive,Positive,Negative,Other,10-Jun-19,NaN,NaN
206,TCGA-E9-A1NH,71.0,FEMALE,0.394090,1.70540,0.035642,1.441000,II,Infiltrating Lobular Carcinoma,Positive,Positive,Negative,Modified Radical Mastectomy,26-Nov-18,NaN,NaN
219,TCGA-C8-A12X,62.0,FEMALE,0.649340,1.81680,0.279260,0.132280,II,Infiltrating Lobular Carcinoma,Positive,Positive,Negative,Other,20-Jun-19,NaN,NaN
221,TCGA-C8-A12O,50.0,FEMALE,-0.322890,0.98848,-0.293130,-0.261700,II,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Other,16-Nov-18,NaN,NaN
265,TCGA-BH-A18S,79.0,FEMALE,0.978250,1.71050,-0.656300,0.269100,I,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Other,05-Apr-19,NaN,Dead
283,TCGA-BH-A18N,88.0,FEMALE,-0.603350,1.38250,0.403570,0.269210,II,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Modified Radical Mastectomy,04-Jun-19,NaN,Dead
285,TCGA-AC-A5EI,88.0,FEMALE,-2.340900,0.37246,0.208450,-1.641100,I,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Simple Mastectomy,04-Jun-19,NaN,NaN
286,TCGA-A8-A081,80.0,FEMALE,0.670770,-0.71039,0.186480,0.146640,II,Infiltrating Lobular Carcinoma,Positive,Positive,Negative,Other,14-Jun-19,NaN,NaN
305,TCGA-BH-A18J,56.0,FEMALE,-0.675420,0.26937,-0.086603,1.071400,III,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Modified Radical Mastectomy,23-Aug-19,NaN,NaN
321,TCGA-A8-A083,67.0,FEMALE,0.317420,-0.55585,0.356570,0.797330,II,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Other,02-Oct-19,NaN,NaN
334,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
335,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
336,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
339,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
340,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
jovian.commit(project='project progress')

[jovian] Updating notebook "malkaamedia/project-progress" on https://jovian.ai
[jovian] Committed successfully! https://jovian.ai/malkaamedia/project-progress

'https://jovian.ai/malkaamedia/project-progress'

In [37]:
#Replace values
fill_df=cancer_df.fillna(0)

In [38]:
fill_df

,Patient_ID,Age,Gender,Protein1,Protein2,Protein3,Protein4,Tumour_Stage,Histology,ER status,PR status,HER2 status,Surgery_type,Date_of_Surgery,Date_of_Last_Visit,Patient_Status
0,TCGA-D8-A1XD,36.0,FEMALE,0.080353,0.42638,0.54715,0.273680,III,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Modified Radical Mastectomy,15-Jan-17,19-Jun-17,Alive
1,TCGA-EW-A1OX,43.0,FEMALE,-0.420320,0.57807,0.61447,-0.031505,II,Mucinous Carcinoma,Positive,Positive,Negative,Lumpectomy,26-Apr-17,09-Nov-18,Dead
2,TCGA-A8-A079,69.0,FEMALE,0.213980,1.31140,-0.32747,-0.234260,III,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Other,08-Sep-17,09-Jun-18,Alive
3,TCGA-D8-A1XR,56.0,FEMALE,0.345090,-0.21147,-0.19304,0.124270,II,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Modified Radical Mastectomy,25-Jan-17,12-Jul-17,Alive
4,TCGA-BH-A0BF,56.0,FEMALE,0.221550,1.90680,0.52045,-0.311990,II,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Other,06-May-17,27-Jun-19,Dead
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336,0,0.0,0,0.000000,0.00000,0.00000,0.000000,0,0,0,0,0,0,0,0,0
337,0,0.0,0,0.000000,0.00000,0.00000,0.000000,0,0,0,0,0,0,0,0,0
338,0,0.0,0,0.000000,0.00000,0.00000,0.000000,0,0,0,0,0,0,0,0,0
339,0,0.0,0,0.000000,0.00000,0.00000,0.000000,0,0,0,0,0,0,0,0,0
340,0,0.0,0,0.000000,0.00000,0.00000,0.000000,0,0,0,0,0,0,0,0,0

In [39]:
jovian.commit('handling missing values')

[jovian] Updating notebook "malkaamedia/project-progress" on https://jovian.ai
[jovian] Committed successfully! https://jovian.ai/malkaamedia/project-progress

'https://jovian.ai/malkaamedia/project-progress'

In [40]:
fill_df.drop(columns=['Histology'],inplace=True)

In [41]:
fill_df

,Patient_ID,Age,Gender,Protein1,Protein2,Protein3,Protein4,Tumour_Stage,ER status,PR status,HER2 status,Surgery_type,Date_of_Surgery,Date_of_Last_Visit,Patient_Status
0,TCGA-D8-A1XD,36.0,FEMALE,0.080353,0.42638,0.54715,0.273680,III,Positive,Positive,Negative,Modified Radical Mastectomy,15-Jan-17,19-Jun-17,Alive
1,TCGA-EW-A1OX,43.0,FEMALE,-0.420320,0.57807,0.61447,-0.031505,II,Positive,Positive,Negative,Lumpectomy,26-Apr-17,09-Nov-18,Dead
2,TCGA-A8-A079,69.0,FEMALE,0.213980,1.31140,-0.32747,-0.234260,III,Positive,Positive,Negative,Other,08-Sep-17,09-Jun-18,Alive
3,TCGA-D8-A1XR,56.0,FEMALE,0.345090,-0.21147,-0.19304,0.124270,II,Positive,Positive,Negative,Modified Radical Mastectomy,25-Jan-17,12-Jul-17,Alive
4,TCGA-BH-A0BF,56.0,FEMALE,0.221550,1.90680,0.52045,-0.311990,II,Positive,Positive,Negative,Other,06-May-17,27-Jun-19,Dead
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336,0,0.0,0,0.000000,0.00000,0.00000,0.000000,0,0,0,0,0,0,0,0
337,0,0.0,0,0.000000,0.00000,0.00000,0.000000,0,0,0,0,0,0,0,0
338,0,0.0,0,0.000000,0.00000,0.00000,0.000000,0,0,0,0,0,0,0,0
339,0,0.0,0,0.000000,0.00000,0.00000,0.000000,0,0,0,0,0,0,0,0
340,0,0.0,0,0.000000,0.00000,0.00000,0.000000,0,0,0,0,0,0,0,0

# Q1) The oldest Patient by age?

In [42]:
#Sort patients by age
fill_df.sort_values('Age',ascending=False).head(10)

,Patient_ID,Age,Gender,Protein1,Protein2,Protein3,Protein4,Tumour_Stage,ER status,PR status,HER2 status,Surgery_type,Date_of_Surgery,Date_of_Last_Visit,Patient_Status
167,TCGA-AC-A3W6,90.0,FEMALE,-1.388200,0.77504,0.290880,-0.92427,III,Positive,Positive,Negative,Modified Radical Mastectomy,19-Jul-18,08-Sep-18,Alive
48,TCGA-A8-A08A,89.0,FEMALE,-0.249780,-0.35133,-0.099624,0.75834,I,Positive,Positive,Negative,Other,24-Jun-17,24-Jul-17,Alive
251,TCGA-D8-A73U,88.0,FEMALE,0.204120,0.52534,-0.845440,-0.70565,II,Positive,Positive,Negative,Simple Mastectomy,24-Feb-19,30-Jun-20,Alive
283,TCGA-BH-A18N,88.0,FEMALE,-0.603350,1.38250,0.403570,0.26921,II,Positive,Positive,Negative,Modified Radical Mastectomy,04-Jun-19,0,Dead
285,TCGA-AC-A5EI,88.0,FEMALE,-2.340900,0.37246,0.208450,-1.64110,I,Positive,Positive,Negative,Simple Mastectomy,04-Jun-19,0,0
39,TCGA-BH-A8FY,87.0,FEMALE,0.708760,2.17310,-0.439670,-0.39255,I,Positive,Positive,Negative,Simple Mastectomy,25-May-17,15-Jan-18,Dead
20,TCGA-AC-A3HN,87.0,FEMALE,-0.087485,1.11110,-0.566920,1.22370,II,Positive,Positive,Negative,Simple Mastectomy,07-Nov-17,28-Nov-17,Alive
218,TCGA-A8-A07Z,85.0,FEMALE,0.405530,0.33144,-0.257430,-0.65476,II,Positive,Positive,Negative,Other,06-Nov-18,17-Jan-21,Alive
87,TCGA-E9-A54X,85.0,FEMALE,0.538090,0.28109,-0.106420,0.23963,I,Positive,Positive,Negative,Lumpectomy,01-Nov-17,06-Dec-18,Alive
80,TCGA-D8-A1XC,85.0,FEMALE,0.403840,0.48825,0.841110,0.61645,III,Positive,Positive,Negative,Modified Radical Mastectomy,26-May-18,15-Aug-18,Alive

In [43]:
fill_df.sort_values('Age').head(10)

,Patient_ID,Age,Gender,Protein1,Protein2,Protein3,Protein4,Tumour_Stage,ER status,PR status,HER2 status,Surgery_type,Date_of_Surgery,Date_of_Last_Visit,Patient_Status
340,0,0.0,0,0.000000,0.00000,0.00000,0.000000,0,0,0,0,0,0,0,0
338,0,0.0,0,0.000000,0.00000,0.00000,0.000000,0,0,0,0,0,0,0,0
337,0,0.0,0,0.000000,0.00000,0.00000,0.000000,0,0,0,0,0,0,0,0
336,0,0.0,0,0.000000,0.00000,0.00000,0.000000,0,0,0,0,0,0,0,0
335,0,0.0,0,0.000000,0.00000,0.00000,0.000000,0,0,0,0,0,0,0,0
334,0,0.0,0,0.000000,0.00000,0.00000,0.000000,0,0,0,0,0,0,0,0
339,0,0.0,0,0.000000,0.00000,0.00000,0.000000,0,0,0,0,0,0,0,0
153,TCGA-C8-A273,29.0,FEMALE,0.001814,0.89284,-0.67860,-0.178330,II,Positive,Positive,Negative,Other,09-Jun-18,15-Jun-18,Alive
129,TCGA-AO-A03M,29.0,FEMALE,-0.105680,0.93747,-0.62169,0.186370,I,Positive,Positive,Negative,Simple Mastectomy,21-Mar-18,15-Mar-22,Dead
130,TCGA-AN-A0FF,32.0,FEMALE,0.125450,1.45650,-0.68030,-0.010378,I,Positive,Positive,Negative,Modified Radical Mastectomy,02-Nov-18,23-Apr-19,Dead

# Q2) Total number of patients who are dead?

In [44]:
cancer_df['Patient_Status'].value_counts()

Alive    255
Dead      66
Name: Patient_Status, dtype: int64

In [ ]:
jovian.commit(project='pandas project')

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
sns.set_style('whitegrid')

# Q3)Survival chance by age?

In [ ]:
#The FacetGrid class is useful when you want to visualize the distribution of a variable or the relationship between multiple variables separately within subsets of your dataset.

a=sns.FacetGrid(cancer_df,hue='Patient_Status',height=5)
a.map(sns.distplot,'Age')
a.add_legend()

In [58]:
#Age groups from 30–40 have equal chances of survival, 
#40–60 have high chances of survival & 
#age groups of 60–75 have less chances of survival.

In [2]:
a=sns.FacetGrid(cancer_df,hue='Gender',height=5)
a.map(sns.distplot,'Age')
a.add_legend()

NameError: name 'sns' is not defined